# .gitignore for .NET (Avalonia)

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]in/
[Oo]bj/
PublishOutput/
publish_output/
artifacts/

# IDE files
.vs/
.vscode/
*.user
*.userosscache
*.sln.docstates
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln.docstates

# .NET / SDK
.dotnet-home/
.dotnet/
.templateengine/

# System files
Thumbs.db
Desktop.ini
.DS_Store

# NuGet
packages/
*.nuget.props
*.nuget.targets
project.assets.json

# Local config & Logs
*.local
*.log
mirror-domains.json
announcement.json
mod_repository.json
chart-upload-config.json
